name: Build

on: [push, pull_request]

jobs:
  AutoBuild:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell}}{0}

    strategy:
      matrix:
        platform:
        - { name: Windows,     os: windows-2019, shell: msys2, makeopts: mingw510 SKIPDEPEND=1 USE_UCRT=1}
        #- { name: Linux GCC,   os: ubuntu-20.04, shell: bash,  makeopts: sdl2 }
        #- { name: MacOS XCode, os: macos-latest }


    steps:
    - name: Install Windows MSYS2 dependencies
      if: matrix.platform.name == 'Windows'
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: bash git base-devel make mingw-w64-x86_64-gcc mingw-w64-x86_64-python

    - uses: actions/checkout@v2
    - name: Build FBNeo
      run: |
        make -j$(nproc) RELEASEBUILD=1 ${{matrix.platform.makeopts}}
